@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
:root {
    --heading-font: "Bebas Neue";
    --paragraph-font: "Poppings", Helvetica, sans-serif;
}
#content {
    max-width: 1600px; 
    margin: 0 auto; 
    font-family: var(--paragraph-font);
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.6em;
}
nav a:hover {
    background-color: #ADCAD6;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
}
.home-title {
    text-align: center;
}
.hero-img {
    width: 100%;
    margin-top: -200px;
}
header {
    background-color: #006E90;
    display: grid;
    grid-template-columns: 150px auto;
}
.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-subtitle {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.8em;
}
.section {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
.gameplay, .game, .set {
    grid-column: 2/3;
    margin: 25px;
    border: 3px solid black;
    width: 80%;
    padding: 25px;
    padding-bottom: 30px;
}
.subtitle {
    margin-bottom: 10px;
}
.homepage-img {
    grid-column: 1/2;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}
.main-paragraph {
    grid-column: 1/3;
    margin-bottom: 25px;
}
footer {
    background-color: #ADCAD6;
    color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 1.8em;   
    margin-top: 50px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 175px;
    font-size: 1.8em;
    color: white;
}
.source {
    grid-column: 2/3;
    width: 90%;
}
.source1 {
    margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    .hero-img {
        width: 100%;
        position: absolute;
        padding-top: 200px;
    }
    .home-grid {
        margin-top: 500px;
    }
    .logo {
        width: 160px;
    }
    #hero-box {
        z-index: -1;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        font-size: 20px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .home-title {
        font-size: 30px;
        color: black;
        
    }
    .main-subtitle {
        font-size: 20px;
    }
    .subtitle {
        font-size: 18px;
    }
    .section {
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .source1 {
        font-size: 15px;
    }
    .source {
        margin-left: auto;
        margin-right: auto;
    }
    .homepage-img {
        height: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .gameplay, .game, .set {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 45px;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
