@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
:root {
    --heading-font: "Bebas Neue";
    --paragraph-font: "Poppings", Helvetica, sans-serif;
}
#content {
    max-width: 1600px; 
    margin: 0 auto; 
    font-family: var(--paragraph-font);
}
.logo {
    width: 100px;
    height: 100%;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.6em;
}
nav a:hover {
    background-color: #ADCAD6;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
}
.home-title {
    text-align: center;
    margin-top: 5%;
}
.home-title-faq {
    text-align: center;
}
.hero-img {
    width: 100%;
    /*margin-top: -200px;*/
}
header {
    background-color: #006E90;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: var(--paragraph-font);
}
.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
}
.home-grid-rules {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding-bottom: 40px; */
}
.main-subtitle {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 1.8em;
}
.section {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4%;
    font-size: 1.1em;
}
.gameplay, .game, .set {
    display: grid;
    grid-column: 2/3;
    margin: 3.5%;
    border: 3px solid black;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.information {
    height: 110%;
}
.gameplay {
    height: 8%;
}
.game {
    height: 36%;
}
.set {
    height: 24%;
}
.subtitle {
    padding-top: 2%;
    padding-bottom: 2%;
}
.homepage-img {
    display: grid;
    grid-column: 1/2;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    /*height: 76%;
    width: 76%;*/
    height: 93%;
    width: 76%;
}
.main-paragraph {
    grid-column: 1/3;
    margin-bottom: 25px;
}
footer {
    background-color: #ADCAD6;
    color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 1.8em;   
    margin-top: 50px;
    font-family: var(--paragraph-font);
}
.text-box {
    margin-top: 9%;
    margin-bottom: 9%;;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -5%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    font-size: 1.8em;
    color: white;
}
.source {
    grid-column: 2/3;
    width: 90%;
}
.source1 {
    margin-bottom: 15px;
}
#hero-box-rules {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.hero-img-rules {
    width: 100%;
    padding-bottom: 5%;
}
.text-rules {
    grid-column: 1/2;
    text-align: left;
    border: solid black 3px;
    margin-left: 19%;
    margin-right: 2%;
    padding: 4.6%;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 123%;
    font-family: var(--paragraph-font);
    grid-row: 1/4;
}
.subtitle-rules {
    text-align: center;
    margin-bottom: 4%;
    font-size: 200%;
    font-family: var(--heading-font);
}
.rules-img {
    grid-column: 2/3;
    grid-row: 1;
}
.first-image {
    width: 60%;
    display: grid; 
    grid-row: 1/2;
    padding-left: 20%;
    padding-right: 15%;
    padding-bottom: 2.5%;
}
.second-image {
    width: 60%;
    display: grid;
    grid-row: 2/3;
    padding-left: 20%;
    padding-right: 15%;
    padding-bottom: 2.5%;
}
.third-image {
    width: 60%;
    display: grid;
    grid-row: 3/4;
    padding-right: 15%;
    padding-left: 20%;;
}
.source-rules {
    grid-column: 1/2;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    font-family: var(--paragraph-font)
}
.hero-img-faq {
    width: 100%;
    padding-bottom: 4%;
    grid-row: 1/2;
}
#hero-msg-faq {
    font-size: 2.8em;
    font-family: var(--heading-font);
    color: white;
    text-align: center;
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: center;
    margin-top: -40%;
    margin-bottom: 36%;
}
#hero-box-faq {
    z-index: -1;
}
#hero-faq {
    grid-template-rows: 1fr 1fr 1fr;
    z-index: -1;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
    border: solid black 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 12%;
    font-family: var(--paragraph-font);
    font-size: 20px;
}
.first-faq-img {
    width: 90%;
    margin-bottom: 12%;
    height: 83%;
    margin-left: 5%;
}
.second-faq-img {
    width: 90%;
    margin-left: 5.2%;
    height: 85%;
    margin-bottom: 25px;
}
/*Column 1*/
.p1, .p2, .p3, .p4 {
    display: grid;
    grid-column: 1/2;
}
/*Column 2*/
.p5, .p6, .first-faq-img, .second-faq-img {
    display: grid;
    grid-column: 2/3;
}
/*Column 3*/
.p7, .p8, .p9, .p10 {
    display: grid;
    grid-column: 3/4;
}
.Row1 {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
.Row2 {
    display: grid;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
.Row3 {
    display: grid;
    grid-row: 3/4;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
.Row4 {
    display: grid;
    grid-row: 4/5; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    margin-left: 4%;
    margin-right: 4%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#feedback {
    margin-top: 100px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
    }
    .hero-img {
        width: 100%;
        /*position: absolute;
        padding-top: 200px;*/
    }
    .home-grid {
        display: block;
        /*margin-top: 500px;*/
        margin: 0px;
    }
    .home-grid-rules {
        display: block;
        margin: 0px;
    }
    .homepage-img {
        width: 70%;
        padding-bottom: 3%;
    }
    .main-paragraph {
        display: grid;
        grid-row: 1/2;
        margin-top: 45%;
    }
    .logo {
        width: 100%;
        height: 100%;
    }
    #hero-box {
        z-index: -1;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        flex-direction: row;
        column-gap: 8%;
        margin-top: 2%;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 10%;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        font-size: 20px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0; 
    }
    .home-title {
        font-size: 75%;
        margin-top: -35%;
    }
    .main-subtitle {
        font-size: 20px;
        margin-top: -7%;
    }
    .subtitle {
        font-size: 18px;
    }
    .section {
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .source1 {
        font-size: 14px;
        margin-bottom: 0%;
    }
    .source {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
    .homepage-img {
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .gameplay, .game, .set {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        width: 70%;
        padding-top: 2%;
        padding-bottom: 4%;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .hero-img-rules {
        width: 100%;
        height: auto;
        border: solid white 0px;
        display: block;
        margin-bottom: -125%;
    }
    #hero-box-rules {
        z-index: -1;
    }
    .text-rules {
        font-size: 90%;
        margin-right: auto;
        margin-left: auto;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        /* margin-bottom: 40%; */
        margin-top: 128%;
        width: 60%;
    }
    .rules-img {
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .first-image {
        padding-bottom: 4%;
        width: 60%;
        margin-top: 10%;
        margin-right: auto;
    }
    .second-image {
        padding-bottom: 4%;
        width: 60%;
        margin-right: auto;
    }
    .third-image {
        width: 60%;
        margin-right: auto;
        padding-bottom: 6%;
    }
    #hero-msg-rules {
        display: none;
    }
    .subtitle-rules {
        font-size: 200%;
    }
    .source-rules {
        display: none;
    }
    .home-grid-faq {
        display: block;
        grid-template-columns: 1fr;
        margin-top: -33%;
    }
    .Row1 {
        display: block;
    }
    .Row2 {
        display: block;
    }
    .Row3 {
        display: block;
    }
    .Row4 {
        display: block;
    }
    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        font-size: 100%;
        padding: 5%;
    }
    .p10 {
        margin-bottom: 7%;
    }
    .first-faq-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    .second-faq-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 80%;
        margin-bottom: 5%;
    }
    .footer-piece {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0%;
    }
    .home-title-faq {
        font-size: 90%;
        color: white;
        margin-top: -40%;
    }
    #hero-msg-faq {
        margin-top: 0;
    }
    #hero-faq {
        margin-top: 0;
    }
    #hero-faq {
        display: block;
        height: auto;
    }
    .home-title-faq {
        z-index: 5;
    }
    .text-box {
        margin-top: 20%;
        margin-bottom: 21%;;
    }
}
