@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
:root {
    --heading-font: "Bebas Neue";
    --paragraph-font: "Poppings", Helvetica, sans-serif;
}
#content {
    max-width: 1600px; 
    margin: 0 auto; 
    font-family: var(--paragraph-font);
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.6em;
}
nav a:hover {
    background-color: #ADCAD6;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
}
.home-title {
    text-align: center;
}
.hero-img {
    width: 100%;
    margin-top: -200px;
}
header {
    background-color: #006E90;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: var(--paragraph-font);
}
.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-subtitle {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.8em;
}
.section {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    font-size: 1.1em;
}
.gameplay, .game, .set {
    grid-column: 2/3;
    margin: 25px;
    border: 3px solid black;
    width: 80%;
    padding: 25px;
    padding-bottom: 30px;
}
.subtitle {
    margin-bottom: 10px;
}
.homepage-img {
    grid-column: 1/2;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}
.main-paragraph {
    grid-column: 1/3;
    margin-bottom: 25px;
}
footer {
    background-color: #ADCAD6;
    color: black;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    font-size: 1.8em;   
    margin-top: 50px;
    font-family: var(--paragraph-font)
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 175px;
    font-size: 1.8em;
    color: white;
}
.source {
    grid-column: 2/3;
    width: 90%;
}
.source1 {
    margin-bottom: 15px;
}
#hero-box-rules {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.hero-img-rules {
    width: 90%;
    border: solid white 75px;
}
#hero-msg-rules {
    margin-top: -920px;
    margin-bottom: 950px;
    font-size: 1.8em;
    font-family: var(--heading-font);
}
.text-rules {
    grid-column: 1/2;
    text-align: left;
    border: solid black 3px;
    margin-left: 140px;
    margin-right: 10px;
    padding: 35px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 19.5px;
    font-family: var(--paragraph-font)
}
.subtitle-rules {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: -5px;
    font-family: var(--heading-font);
}
.rules-img {
    grid-column: 2/3;
    margin-top: -260px;
}
.first-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -650px;
    width: 60%;
    padding: 5px;
    height: 95%
}
.second-image {
    width: 60%;
    height: 95%;
    padding: 5px;
}
.third-image {
    width: 60%;
    height: 95%;
}
.source-rules {
    grid-column: 1/2;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    font-family: var(--paragraph-font)
}
.hero-img-faq {
    width: 100%;
}
#hero-msg-faq {
    margin-top: -880px;
    margin-bottom: 860px;
    font-size: 2.8em;
    font-family: var(--heading-font);
    color: white;
    text-align: center;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
    border: solid black 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: var(--paragraph-font);
    font-size: 20px;
}
.p1, .p2, .p3, .p4 {
    margin-left: 50px;
}
.p7, .p8, .p9, .p10 {
    margin-right: 50px;
}
.p5 {
    padding-top: 30px;
    padding-bottom: 31px;
}
.p7 {
    padding-top: 38px;
    padding-bottom: 38px; 
}
.p2 {
    padding-top: 11%;
    padding-bottom: 11%;
}
.p8 {
    padding-top: 13%;
    padding-bottom: 14%;
}
.p6 {
    padding-top: 14%;
    padding-bottom: 15%;
}
.p9 {
    padding-top: 7%;
    padding-bottom: 8%;
}
.p4 {
    padding-top: 18%;
    padding-bottom: 19%;
    margin-bottom: 25px;
}
.p10 {
    padding-top: 17%;
    padding-bottom: 17%;
    margin-bottom: 25px;;
}
.subtitle-faq {
    font-family: var(--heading-font);
}
.home-grid-faq {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.column1 {
    grid-column: 1/2;
}
.column2 {
    grid-column: 2/3;
}
.column3 {
    grid-column: 3/4;
}
.first-faq-img {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 46px;
}
.second-faq-img {
    width: 90%;
    margin-left: 5.2%;
    height: 300px;
    margin-bottom: 25px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    .hero-img {
        width: 100%;
        position: absolute;
        padding-top: 200px;
    }
    .home-grid {
        margin-top: 500px;
    }
    .logo {width: 100%;
        /*width: 160px;*/
        height: 100%;
    }
    #hero-box {
        z-index: -1;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        font-size: 20px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .home-title {
        font-size: 30px;
        color: black;
    }
    .main-subtitle {
        font-size: 20px;
    }
    .subtitle {
        font-size: 18px;
    }
    .section {
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .source1 {
        font-size: 15px;
    }
    .source {
        margin-left: auto;
        margin-right: auto;
    }
    .homepage-img {
        height: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .gameplay, .game, .set {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 45px;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-img-rules {
        width: 100%;
        height: auto;
        border: solid white 0px;
        display: block;
        margin-bottom: -125%;
    }
    #hero-box-rules {
        z-index: -1;
    }
    .text-rules {
        font-size: 13px;
        margin-right: 25px;
        margin-left: 25px;
        padding: 25px;
        margin-bottom: 77%;
    }
    .rules-img {
        margin-right: auto;
        margin-left: auto;
    }
    .first-image {
        padding-bottom: 30px;
        width: 85%;
        margin-top: 45%;
    }
    .second-image {
        padding-bottom: 30px;
        width: 85%;
    }
    .third-image {
        width: 85%;
    }
    #hero-msg-rules {
        display: none;
    }
    .subtitle-rules {
        font-size: 22px;
        margin-top: -5px;
        margin-bottom: 15px;
    }
    .source-rules {
        display: none;
    }
    .home-grid-faq {
        display: block;
        margin-top: -150%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .column1 {
        grid-column: 1/2;
    }
    .column2 {
        grid-column: 1/2;
    }
    .column3 {
        grid-column: 1/2;
    }
    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        font-size: 100%;
        padding: 5%;
    }
    .p10 {
        margin-bottom: 0%;
    }
    .first-faq-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }
    .second-faq-img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 80%;
        margin-bottom: 10%;
    }
    .footer-piece {
        margin-top: 0%;
        margin-bottom: 0%;
       
}
